div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #ADD8E6 solid;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Layer3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #ADD8E6 solid;
}
#Layer2
{
   background-color: #FFFFFF;
   background-image: none;
}
#Layer4
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #4682B4 solid;
}
#Layer5
{
   background-color: #4682B4;
   background-image: none;
   border: 1px #CCCCCC solid;
   filter: alpha(opacity=90);
   opacity: 0.90;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#username
{
   border: 2px #4682B4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#username:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#password
{
   border: 2px #4682B4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#password:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#email
{
   border: 2px #4682B4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#email:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#firstname
{
   border: 2px #4682B4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#firstname:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#lastname
{
   border: 2px #4682B4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#lastname:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#age
{
   border: 2px #4682B4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#age:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Button1
{
   border: 2px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Button1:hover
{
   background-color: #4682B4;
   color: #FFFFFF;
   -webkit-transition: background-color 500ms ease-in-out 0ms, color 500ms ease-in-out 0ms;
   -moz-transition: background-color 500ms ease-in-out 0ms, color 500ms ease-in-out 0ms;
   transition: background-color 500ms ease-in-out 0ms, color 500ms ease-in-out 0ms;
}
#lvl
{
   border: 2px #4682B4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#lvl:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
.jQueryToolTip1
{
   background-color: #FFFFFF;
   border: 1px #CCCCCC solid !important;
   padding: 4px 4px 4px 4px;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   text-align: center;
}
#Button2
{
   border: 2px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #4682B4;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Button2:hover
{
   background-color: #4682B4;
   color: #FFFFFF;
   -webkit-transition: background-color 500ms ease-in-out 0ms, color 500ms ease-in-out 0ms;
   -moz-transition: background-color 500ms ease-in-out 0ms, color 500ms ease-in-out 0ms;
   transition: background-color 500ms ease-in-out 0ms, color 500ms ease-in-out 0ms;
}
