html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -427px;
   float:left
}
div#container
{
   width: 800px;
   height: 855px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #4682B4;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#webEval
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#webEval:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#droidEval
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#droidEval:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#others
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#4682B4;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#others:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#Button1
{
   border: 1px #696969 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #696969;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_Text1
{
   position: absolute;
   left: 21px;
   top: 257px;
   width: 757px;
   height: 32px;
   z-index: 1;
   text-align: left;
}
#others
{
   position: absolute;
   left: 21px;
   top: 523px;
   width: 747px;
   height: 125px;
   z-index: 5;
}
#wb_Text2
{
   position: absolute;
   left: 21px;
   top: 42px;
   width: 757px;
   height: 32px;
   z-index: 0;
   text-align: left;
}
#droidEval
{
   position: absolute;
   left: 21px;
   top: 289px;
   width: 747px;
   height: 125px;
   z-index: 4;
}
#wb_Text3
{
   position: absolute;
   left: 21px;
   top: 459px;
   width: 757px;
   height: 64px;
   z-index: 2;
   text-align: left;
}
#wb_Text4
{
   position: absolute;
   left: 251px;
   top: 688px;
   width: 297px;
   height: 32px;
   z-index: 6;
   text-align: left;
}
#webEval
{
   position: absolute;
   left: 21px;
   top: 74px;
   width: 747px;
   height: 125px;
   z-index: 3;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 798px;
   height: 817px;
   z-index: 8;
}
#Layer1_Container
{
   width: 798px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Button1
{
   position: absolute;
   left: 317px;
   top: 746px;
   width: 165px;
   height: 37px;
   z-index: 7;
}
@media only screen and (max-width: 799px)
{
div#container
{
   width: 420px;
   height: 863px;
}
#Layer1
{
   left: 0px;
   top: 0px;
   width: 418px;
   height: 861px;
   visibility: visible;
   display: inline;
   background-color: #4682B4;
   background-image: none;
}
#Layer1_Container
{
   width: 416px;
}
#wb_Text2
{
   left: 21px;
   top: 18px;
   width: 377px;
   height: 64px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   left: 21px;
   top: 234px;
   width: 377px;
   height: 64px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   left: 21px;
   top: 459px;
   width: 377px;
   height: 96px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#webEval
{
   left: 21px;
   top: 82px;
   width: 367px;
   height: 125px;
   visibility: visible;
   display: inline;
   color: #4682B4;
   background-color: #FFFFFF;
   background-image: none;
}
#droidEval
{
   left: 21px;
   top: 298px;
   width: 367px;
   height: 125px;
   visibility: visible;
   display: inline;
   color: #4682B4;
   background-color: #FFFFFF;
   background-image: none;
}
#others
{
   left: 21px;
   top: 555px;
   width: 367px;
   height: 119px;
   visibility: visible;
   display: inline;
   color: #4682B4;
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Text4
{
   left: 61px;
   top: 745px;
   width: 297px;
   height: 32px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#Button1
{
   left: 127px;
   top: 795px;
   width: 165px;
   height: 37px;
   visibility: visible;
   display: inline;
   color: #696969;
   background-color: #FFFFFF;
   background-image: none;
}
}
